footer{
    clear: both;
    background: #e9eaeb;
}
footer>div.top{
    width: 100%;
    background: #263238;
}
footer>div.top>div{
    height: 5.5rem;
    width: 120rem;
    margin: 0 auto;
    padding-top: 1.8rem;
    box-sizing: border-box;
}
footer>div.top>div>section.footer_1>ul{
    margin: 0 auto;
    width: 120rem;
    color: #a1a1a1;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
}
footer>div.top>div>section.footer_1>ul>li{
    float: left;
    padding: 0 1rem 0 1rem;
    border-right: 0.1rem solid #a1a1a1;
}
footer>div.top>div>section.footer_1>ul>li:nth-of-type(1){
    padding-left: 0;
}
footer>div.top>div>section.footer_1>ul>li:last-of-type{
    border: none;
}
footer>div.top>section.footer_2{
   display: none;
}
footer>div.address{
    margin: 0 auto;
    padding: 2rem 0 2.8rem 0;
    width: 120rem;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #37474f;
}
footer>div.address>p{
    float: left;
    margin-right: 2rem;
    margin-top: 0.5rem;
}
footer>div.address>div>address{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #37474f;
}