
/*------------------------------------------------------------------------------------------------------------------------
                                                            part1
--------------------------------------------------------------------------------------------------------------------------*/
main>section.part1>div.box{
    margin: 0 auto;
    margin-top: 3%;
    box-sizing: border-box;
    width: 80%;
    background: #121f44;
}
main>section.part1>div.box>h1{
    font-size: 3vw;
    line-height: 3vw;
    font-weight: 700;
    text-align: center;
    color: #fff;
}