main{

}
main>div{
    position:relative;
    margin:0 auto;
    margin-top:7.5rem;
    width:30rem;
    text-align: center;
}
main>div>h1{
    margin-bottom:5rem;
    font-size:3rem;
    color:#000;

}
main>div>p{
    margin:0 auto;
    width:23rem;
    border:1px solid #E2E2E2;
}

main>div>ul{
    position:absolute;
    bottom:-4rem;
    left:0;
    display:flex;
    justify-content: space-between;
    width:30rem;
    
}
main>div>ul>li{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
}
main>div>ul>li>span{
   margin-bottom:1rem;
   width:3rem;
   height:3rem;
   border-radius: 100%;
   line-height: 3rem;
   background-color:rgb(219, 218, 218);
}
main>div>ul>li:nth-child(1)>span{
    background-color:#1428A0;
    color:white;
    width:4rem;
    height:4rem;
    line-height: 4rem;
}
main>form{
    margin:0 auto;
    margin-top:8rem;
    width:120rem;
    clear: both;
}
main>form>h2{
    margin-bottom:1.3rem;
    font-size:2.2rem;
    color:#000;
}
main>form>p.import{
    float:right;
    position:relative;
    margin-bottom:1rem;
    
}
main>form>p.import:before{
    position:absolute;
    top:0;
    left:-1rem;
    content:"*";
    width:1rem;
    height:1rem;
    color:red;
    
}
main>form>table{
    margin-bottom:5.5rem;
    width:100%;
    border-top:2px solid #999;
}
main>form>table>tbody{}
main>form>table>tbody>tr{
    border-bottom:1px solid #ccc;
}
main>form>table>tbody>tr>td{
    padding:1.5rem 0;
    font-size:1.5rem;
    color:#000;
    
}
main>form>table>tbody>tr>td:nth-child(1){
    padding-left:2rem;
    width:36.5rem;
    border-right:1px solid #ccc;
}
main>form>table>tbody>tr>td:nth-child(2){
    padding-left:1rem;
}
main>form>table:nth-child(3)>tbody>tr>td:nth-child(2){
    font-size:1.4rem;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(1)>td>input{
    width:10rem;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(2)>td>input{
    width:15rem;
}
main>form>table>tbody>tr>td>input{

}
main>form>table:nth-child(6)>tbody>tr:nth-child(3)>td>input{
    width:8.5rem;
    border:1px solid #999;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(3)>td:nth-child(1){
    position:relative;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(3)>td:nth-child(1):before{
    content:"*";
    position:absolute;
    top:1.5rem;
    left:1rem;
    width:1rem;
    height:1rem;
    color:red;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(4)>td>input{
    width:11rem;
    border:1px solid #999;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(4)>td:nth-child(1){
    position:relative;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(4)>td:nth-child(1):before{
    content:"*";
    position:absolute;
    top:1.5rem;
    left:1rem;
    width:1rem;
    height:1rem;
    color:red;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(5)>td>input{
    border:1px solid #999;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(5)>td:nth-child(1){
    position:relative;
}
main>form>table:nth-child(6)>tbody>tr:nth-child(5)>td:nth-child(1):before{
    content:"*";
    position:absolute;
    top:1.5rem;
    left:1rem;
    width:1rem;
    height:1rem;
    color:red;
}
main>form>table>tbody>tr>td>select{
    width:8.5rem;
    height:2.3rem;
    border:1px solid #999;

}
main>form>table>tbody>tr:nth-child(5)>td>select{
    margin-bottom:1rem;
}
main>form>table>tbody>tr:nth-child(5)>td>p{
    font-size:1.2rem;
}
main>form>table>tbody>tr:nth-child(6)>td>label{
    margin-right:5rem;
}
main>form>h2{
    font-size:2.2rem;
    font-weight: 700;
}
main>form>div:not(:nth-child(8)){
    margin-bottom:5.5rem;
    border-bottom:1px solid #ccc;
}

main>form>div.Support>h3{
    height:5rem;
    line-height:5rem;
    background:#F2F2F2;
    color:#000;
    text-align: center;
    border-top:2px solid #999;
    
}
main>form>div.Support>div{
    display:flex;
    flex-wrap: wrap;
    padding:2rem 1rem;
}
main>form>div.Support>div>p{
    flex: 1 1 30rem;
    line-height:4rem;
}
input[type='radio']{
    /* appearance: none; */
    width:2rem;
    height:2rem;
    border:1px solid #999;
    border-radius:100%;
    background-color:#ccc;
    vertical-align: middle;
}
/* main>form>div>div>p>input[type='radio']:checked{
    appearance: none;
    width:1rem;
    height:1rem;
    background:red;
} */

main>form>div>div>p>label{
    
}
main>form>div.SupportCheck{
    
}
main>form>div.SupportCheck>h2{
    margin-bottom:3.5rem;
    font-size:2.2rem;
    color:#000;
    font-weight: 700;
} 
main>form>div.SupportCheck>div{
    border-bottom:1px solid #ccc;
}
main>form>div.SupportCheck>div:nth-child(2){
    border-top:2px solid #999;
}
main>form>div.SupportCheck>div>p{
    display:inline-block;
    padding-left:2rem;
    width:85rem;
    font-size:1.4rem;
    line-height:5rem;
    color:#000;
    border-right:1px solid #ccc;
    
}
main>form>div.SupportCheck>div>input:nth-child(2){
    margin-left:6rem;
}

main>form>div.SupportCheck>div>label{
    font-size:1.4rem;
    color:#000;
}
main>form>div.SupportCheck>div>label:nth-child(3){
    margin-right:8rem;
}
main>form>div.SupportCheck>div>div#show{
    width:85rem;
    border-right:1px solid #ccc;
}
main>form>div.SupportCheck>div>div#show>table{}
main>form>div.SupportCheck>div>div#show>table>tbody{}
main>form>div.SupportCheck>div>div#show>table>tbody>tr{
    
}
main>form>div.SupportCheck>div>div#show>table>tbody>tr>td{
    padding-left:2rem;
    line-height:4rem;
}
main>form>div.SupportCheck>div>div#show>table>tbody>tr>td>input{
    border:1px solid #999;
}
main>form>div.SupportCheck>div>div#show>table>tbody>tr>td>img{
    margin-left:0.5rem;
    vertical-align: middle;
}
main>form>div.SupportCheck>div>div#show>table>tbody>tr:nth-child(1)>td>input{
    width:37.5rem;
}
main>form>div.SupportCheck>div>div#show>table>tbody>tr:nth-child(2)>td>input{
    width:16.3rem;
}
main>form>p.caution{
    font-size:1.2rem;
    line-height: 2.5rem;
}
main>form>p.caution>em{
    color:#F44906;
}
main>form>p.checkBox{
    float: right;
}
main>form>p>input{
   width:1.5rem;
   height:1.5rem;
}
main>form>p>label{
    font-size:1.4rem;
}
main>form>section{
    margin-top:5rem;
    clear: both;
}
main>form>section>h2{
    font-size:2.2rem;
    color:#000;
    font-weight: 700;
}
main>form>section>p{
    margin-top:3rem;
    margin-bottom:1rem;
    font-size:1.2rem;
}
main>form>section{
    width:100%;
}
main>form>section>table{
    width:100%;
    border-top:2px solid #999;
}
main>form>section>table>tbody{
    
}
main>form>section>table>tbody>tr{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ccc;
}

main>form>section>table>tbody>tr>th{
    flex: 1 1 0;
    line-height: 5.3rem;
    height:5.3rem;
    font-size:1.4rem;
    color:#000;
    background:#F2F2F2;
}
main>form>section>table>tbody>tr>th:not(:last-child){
    border-right:1px solid #ccc;
}
main>form>section>table>tbody>tr>td{
    flex: 1 1 0;
    line-height: 5.3rem;
    height:5.3rem;
    font-size:1.4rem;
    color:#000;
    text-align: center;
}
main>form>section>table>tbody>tr>td:not(:last-child){
    border-right:1px solid #ccc;
}
main>form>input{
    display:block;
    margin:0 auto;
    margin-top:5rem;
    margin-bottom:20rem;
    width:18rem;
    height:4rem;
    background:#1428A0;
    color:white;
}