main h1{
    width: 100%;
    height: 100%;
    margin-top: 150px;
    text-align: center;

    font-size: 30px;
    font-weight: 500;
    color: #000;
}
main div:nth-child(2){
    width: 1200px;
    height: 45px;

    padding: 50px 0 80px 0;
    margin: 0 auto;
}
main div:nth-child(2)>ul{
    display: flex;
    justify-content: space-around;
    height: 45px;
    border-bottom:1px solid #999;
    text-align: center;
}
main div:nth-child(2)>ul>li{
    width: 600px;
    font-size: 16px;
    color: #000;
    line-height: 40px;
}
main div:nth-child(2)>ul>.pw{
    background: #1428a0;
}
main div:nth-child(2)>ul>.id{
    border: 1px #000;
}
main div:nth-child(2)>ul>.pw>a{
    color: #fff;
    font-weight: 800;
}
main div:nth-child(3){
    width: 1200px;
    margin: 0 auto;
}
main div:nth-child(3)>p{
    margin-top: 100px;

    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #000;
}
main div:nth-child(3)>form{
    text-align: center;
    color: #000;
}
main div:nth-child(3)>form>input{
    margin: 100px 20px 200px 0;
    padding: 0 60px;
    background: #fff;
    border: 1px solid #999;

    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #000;
}
main div:nth-child(3)>form>input:nth-of-type(2){
    background: #1428a0;

    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
}