main{
    margin:0 auto;
    margin-top:8rem;
    width:120rem;
}
main>div{}
main>div>p.searchcheck{
    margin-bottom:4rem;
    font-size:1.4rem;
    color:#000;
}
main>div>p.searchcheck>img{
    margin:0 1rem;
    width:0.8rem;
    height:1.8rem;
    vertical-align: middle;
}
main>div>h1{
    margin-bottom:1.7rem;
    font-size:2.2rem;
}
main>div>h1>strong{
    color:#1428A0;
}
main>div>p.searchcheck2{
    font-size:1.6rem;
    color:#999999;
}
main>div>p.searchcheck2>i{}
main>div>div{}
main>div>div>ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:3.5rem;
    height:4.5rem;
    border-bottom:1px solid #999999;
}
main>div>div>ul>li{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
main>div>div>ul>li:not(:last-child){
    border-right:1px solid #cccccc;
}
main>div>div>ul>li:nth-child(1){
    background:#1428A0;
    
}
main>div>div>ul>li:nth-child(1)>a{
    color:white;
}
main>div>div>ul>li>a{
    display:block;
    width:100%;
    height:100%;
    text-align: center;
    line-height: 4.5rem;
}
main>div>div>ul>li>a>i{}
main>div>div>article{
    position:relative;
    display:flex;
    align-items: center;
    padding:3rem 0;
    border-bottom:1px solid #ccc;
}
main>div>div>article>p{
    width:29.8rem;
    height:15rem;
    background:#ccc;
}
main>div>div>article>p>img{}
main>div>div>article>div.main_contents{
    flex:1 1 auto;
    margin-left:2.5rem;
}
main>div>div>article>div.main_contents>p{
    margin-bottom:1.3rem;
    font-size:1.5rem;
    font-weight: 700;
    color:#1428A0;
}
main>div>div>article>div.main_contents>h1{
    margin-bottom:2rem;
    font-size:1.8rem;
    font-weight: 700;
    color:#000;
}
main>div>div>article>div.main_contents>div{
    display:flex;
    justify-content: space-between;
}
main>div>div>article>div.main_contents>div>ul{}
main>div>div>article>div.main_contents>div>ul>li{
    font-size:1.4rem;
}
main>div>div>article>div.main_contents>div>ul>li:nth-child(1){
    margin-bottom:1.6rem;
}
main>div>div>article>div.main_contents>div>ul>li>span{
    display:inline-block;
    margin-right:0.8rem;
    width:8rem;
    height:2.5rem;
    border:2px solid #808080;
    border-radius:1.5rem;
    font-size:1.4rem;
    line-height:2.3rem; 
    text-align: center;
}
main>div>div>article>div.contents_sub{
    
    width:29.8rem;
    text-align: center;
    
}
main>div>div>article>div.contents_sub:before{
    content:"";
    position:absolute;
    top:0.5rem;
    right:29.8rem;
    width:0;
    height:20rem;
    border-right:1px dotted #ccc;
}
main>div>div>article>div.contents_sub>ul{
    text-align: center;
}
main>div>div>article>div.contents_sub>ul>li{}
main>div>div>article>div.contents_sub>ul>li:nth-child(1){
    margin:0 auto;
    margin-bottom:1.7rem;
    width:13rem;
    height:2.7rem;
    line-height: 2.7rem;
    background:#1428A0;
    border-radius:2rem;
    color:white;
}
main>div>div>article>div.contents_sub>ul>li:nth-child(2){
    margin-bottom:1.7rem;
    font-size:2rem;
    color:#000;
}
main>div>div>article>div.contents_sub>button{
    display:block;
    margin:0 auto;
    width:10rem;
    height:2.5rem;
    border:1px solid #999999;
}
main>div>div>article>div.contents_sub>button:nth-child(2){
    margin-bottom:1rem;
}


/*searchAreanone*/
main>div>div>article.searchnone{
    display:flex;
    justify-content: center;
    align-items: center;
    height:42rem;
}
main>div>div>article>p.noneArea{
    width:30rem;
    height:1.6rem;
    background:none;
}