main{
    width:120rem;
    margin:0 auto;
}
main>div{
    position:relative;
    margin:0 auto;
    margin-top:7.5rem;
    width:66rem;
    text-align: center;
}
main>div>h1{
    margin-bottom:5rem;
    font-size:3rem;

}
main>div>p{
    margin:0 auto;
    width:60rem;
    border:1px solid #E2E2E2;
}

main>div>ul{
    position:absolute;
    bottom:-4rem;
    left:0;
    display:flex;
    justify-content: space-between;
    width:66rem;
    
}
main>div>ul>li{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
}
main>div>ul>li>span{
   margin-bottom:1rem;
   width:3rem;
   height:3rem;
   border-radius: 100%;
   line-height: 3rem;
   background-color:rgb(219, 218, 218);
}
main>div>ul>li:nth-child(2)>span{
    background-color:#1428A0;
    color:white;
    width:4rem;
    height:4rem;
    line-height: 4rem;
}
main>section{
    padding-top:10rem;
}
main>section>h1{
    font-size:2.2rem;
    line-height: 5rem;
}
main>section>p{
    float:right;
    font-size:1.5rem;
    line-height: 2.5rem;
}
main>section>p>span{
    color:red;
}
main>section>form{
    clear:both;
}
main>section>form>div.field{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}
main>section>form>div.field>div{
    height:100%;
}
main>section>form>div.field>div:not(:nth-child(9)){
    border-bottom:1px solid #dad7d7;
}
main>section>form>div.field>div>div{
    display:flex;
    align-items: center;
    padding:1.4rem 0;
}
main>section>form>div.field>div>div>p>span{
    display:block;
    font-size:1.4rem;
    padding:1.4rem 0;
}
main>section>form>div.field>div>div>p>span.check{
    display:none;
    padding-left:1rem;
    font-size:1.3rem;
    color:red;
}
main>section>form>div.field>div>div>label{
    font-size:1.5rem;
}
main>section>form>div.field>div>div>label.mainLabel{
    display:inline-block;
    width:20rem;
    height:100%;
}
main>section>form>div.field>div:nth-child(2)>div>label+p>input{
    margin-right:0.7rem;
}
main>section>form>div.field>div:nth-child(2)>div>label+p>input.btnCheck{
    width:7rem;
    color:white;
}
main>section>form>div.field>div:nth-child(6)>div>label+p>input.btnCheck{
    width:7rem;
    color:white;
}
#return{
    display:none;

}
#return2{
    display:inline-block;
}

main>section>form>div.field>div:nth-child(6)>div>label+p>input.return2{

}
main>section>form>div.field>div:nth-child(6)>div>label+p>input:nth-child(1){
    width:11rem;
}
main>section>form>div.field>div:nth-child(6)>div>label+p>input:nth-child(3){
    width:11rem;
}
main>section>form>div.field>div:nth-child(6)>div>label+p>input:nth-child(3){
    width:11rem;
}
main>section>form>div.field>div:nth-child(6)>div>label+p>input:nth-child(6){
    background-color: #B3B3B3;
    width:10rem;
    color:white;
}
main>section>form>div.field>div:nth-child(6)>div>label+p>input:nth-child(7){
    background-color: #B3B3B3;
}
main>section>form>div.field>div:nth-child(7)>div>label+p>input{
    margin-right:0.7rem;
}
main>section>form>div.field>div:nth-child(7)>div>label+p>input:nth-child(2){
    color:white;
}
main>section>form>div.field>div:nth-child(7)>div>label+p>input:nth-child(1){
    width:19rem;
}
main>section>form>div.field>div:nth-child(8)>div>label+p>input{
    width:8.5rem;
}
main>section>form>div.field>div:nth-child(8)>div>label+p>select{
    width:8.5rem;
}
main>section>form>div.field>div:nth-child(9)>div>div>p:nth-child(1)>input:nth-child(1){
    width:13.8rem;
}
main>section>form>div.field>div:nth-child(10)>div>label+p>input{
    margin-right:0.7rem;
    color:white;
}
main>section>form>div.field>div>div>label>span{
    color:red;
}
main>section>form>div.field>div:nth-child(9)>div>div>p>input.btn2{
    width:10rem;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
main>section>form>div.field>div>div>p{
    display:inline-block;
    border-left:1px solid #dad7d7;
    padding-left:0.5rem;
}
main>section>form>div.field>div>div>div{
    display:inline-block;
    
}
main>section>form>div.field>div>div>div>p{
    border-left:1px solid #dad7d7;
    padding-left:0.5rem;
}
main>section>form>div.field>div>div>div>p:not(:last-child){
    padding-bottom:1.4rem;
}
main>section>form>div.field>div>div>div>p>input:not(:nth-child(2)){
    display:inline-block;
    width:47.3rem;
    height:3.1rem;
    outline-color:#999999 ;
    border:1px solid #999999;
}
main>section>form>div.field>div>div>div>p>input::placeholder{
    padding-left:1rem;
}
main>section>form>div.field>div>div>p>input{
    height:3.1rem;
    outline-color:#999999 ;
    border:1px solid #999999;
}
main>section>form>div.field>div>div>p>input.nik_pwd{
    width:31rem;
}
main>section>form>div.field>div>div>p>input.btn2{
    width:5rem;
    height:3.1rem;
    font-size:1.4rem;
    margin:0 0.7rem;
    border:0 none;
}

main>section>form>div.field>div>div>div>p>input.btn2{
    height:3.1rem;
    font-size:1.4rem;
    margin:0 1.4rem;
    border:0 none;
}
main>section>form>div.field>div>div>p>select{
    height:3.1rem;
    font-size:1.4rem;
    outline-color:#999999 ;
    border:1px solid #999999;
}
main>section>form>div.field>div:nth-child(6)>div>p>select{
    margin-right:0.7rem;
    margin-left:1.4rem;
}
main>section>form>div.field>div>div>p>select>option{
    
}
/* */
main>section>form>div.field>div.birth_f_male{
    
}
main>section>form>div.field>div.birth_f_male>div{
    
}
main>section>form>div.field>div.birth_f_male>div>label{
    
}
main>section>form>div.field>div.birth_f_male>div>p{
    
}
main>section>form>div.field>div.birth_f_male>div>p>select{
    width:10rem;
}
main>section>form>div.field>div.birth_f_male>div>p>select>option{
    
}
main>section>form>div.field>div.birth_f_male>div>p>input{
    width:2rem;
    height:2rem;
    vertical-align: middle;
}
main>section>form>div.field>div.birth_f_male>div>p>input:nth-child(4){
    margin-left:2rem;
}
main>section>form>div.field>div.birth_f_male>div>p>input:nth-child(6){
    margin-left:5rem;
}

main>section>form>div.field>div.birth_f_male>div>p>label{
    
}


main>section>form>div.btn{
    display:flex;
    justify-content: center;
    margin-top:8rem;
    margin-bottom:20rem;
}
main>section>form>div.btn>input{
    padding:1rem 0;
    width:15rem;
}
main>section>form>div.btn>input:nth-child(1){
    margin-right:0.7rem;
    border:1px solid #999999;
}
main>section>form>div.btn>input:nth-child(2){
    margin-left:0.7rem;
    border:0 none;
    background-color:#2c40af;
    color:white;
}



