main{
    margin:0 auto;
    width:120rem;
}
main>div.trainingzone{
    padding-top:8rem;
    
}
main>div.trainingzone>h1{
    margin-bottom:2.5rem;
    font-size:3rem;
    text-align: center;
    color:#000;
}
main>div.trainingzone>p{
    margin-bottom:5rem;
    font-size:1.5rem;
    text-align: center;
}
main>div.trainingzone>div{
    border:1px solid #ccc;
}
main>div.trainingzone>div>form{
    margin:0 auto;
    padding:4.2rem 0;
    width:90rem;
    
}
main>div.trainingzone>div>form>p{
    margin-bottom:1rem;
}
main>div.trainingzone>div>form>p:nth-child(4){
    margin-bottom:2.5rem;
}
main>div.trainingzone>div>form>p:nth-child(4)>img{
    margin-left:0.5rem;
    vertical-align: middle;
}
main>div.trainingzone>div>form>p>input{
    border:1px solid #999;
    font-size:1.5rem;
    width:16rem;
    height:3.5rem;
}
main>div.trainingzone>div>form>p:nth-child(1)>input{
    width:24.8rem;
    margin-right:0.2rem;
    
}
main>div.trainingzone>div>form>p>input::placeholder{
    color:#000;
}
main>div.trainingzone>div>form>p>select{
    border:1px solid #999;
    font-size:1.5rem;
    width:19rem;
    height:3.5rem;
}
main>div.trainingzone>div>form>p>select>option{}
main>div.trainingzone>div>form>p>label{
    margin-right:5rem;
}
main>div.trainingzone>div>form>p>button{
    margin-right:1rem;
    font-size:1.4rem;
}
main>div.trainingzone>div>form>p>button:nth-child(6){
    margin-left:1rem;
}
main>div.trainingzone>div>form>div{
    text-align: center;
}
main>div.trainingzone>div>form>div>input{
    margin:0 0.5rem;
    width:15rem;
    height:4rem;
    border:1px solid #999;
    
}
main>div.trainingzone>div>form>div>input:nth-child(2){
    background:#1428A0;
    color:white;
}

main>div.trainingzone>div>form>p>button:hover{
    border-bottom:1px solid #000;
}


/* sub_nav */
main>div.sub_nav>div{}
main>div.sub_nav>div>ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:3.5rem;
    height:4.5rem;
    border-bottom:1px solid #999999;
}
main>div.sub_nav>div>ul>li{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
main>div.sub_nav>div>ul>li:not(:last-child){
    border-right:1px solid #cccccc;
}
main>div.sub_nav>div>ul>li:nth-child(1){
    background:#1428A0;
    
}
main>div.sub_nav>div>ul>li:nth-child(1)>a{
    color:white;
}
main>div.sub_nav>div>ul>li>a{
    display:block;
    width:100%;
    height:100%;
    text-align: center;
    line-height: 4.5rem;
}
main>div.sub_nav>div>ul>li>a>i{}
main>div.sub_nav>div>article{
    width:120rem;
    /* position:relative; */
    /* display:flex;
    align-items: center; */
    padding:3rem 0;
    border-bottom:1px solid #ccc;
}

/*  */
main>div.sub_nav>div>article>div{
    display:flex;
    
}
main>div.sub_nav>div>article>div>ul{
    padding:0 4rem;
}
main>div.sub_nav>div>article>div>ul{
    border-right:1px solid #999;
}
main>div.sub_nav>div>article>div>ul>li{
    
}

main>div.sub_nav>div>article>div>ul>li:nth-child(1){
    margin-bottom:1.5rem;
    width:32rem;
    height:19rem;
    background:#ccc;
}
main>div.sub_nav>div>article>div>ul>li:nth-child(2){
    margin-bottom:1.3rem;
    font-size:1.5rem;
    color:#1428A0;
}

main>div.sub_nav>div>article>div>ul>li:nth-child(3){
    margin-bottom:4.5rem;
    font-size:1.8rem;
    font-weight:bold;
    color:#000;
}
main>div.sub_nav>div>article>div>ul>li:nth-child(4){
    margin-bottom:2rem;
    font-size: 2rem;
    text-align: end;
}
main>div.sub_nav>div>article>div>ul>li:nth-child(5){
    height:4.5rem;
    background:#1428A0;
    text-align: center;

}
main>div.sub_nav>div>article>div>ul>li>img{
    
}
main>div.sub_nav>div>article>div>ul>li>span{
    margin-left:0.8rem;
    padding:0.2rem 0.5rem;
    font-size:1.4rem;
    border:1px solid #999;
    border-radius: 3rem;
    color:#999;
}
main>div.sub_nav>div>article>div>ul>li>a{
    display:block;
    font-size: 1.8rem;
    color:white;
    line-height: 4.5rem;
}
main>div.sub_nav>div>article>div>ul:nth-child(2)>li>a{
    background:#999;
}