main{
    margin:0 auto;
    width:120rem;
}
main>div{
    padding-top:8rem;
}
main>div>h1{
    margin-bottom:5rem;
    font-size:3rem;
}
main>div>ul{
    display:flex;
    align-items: center;
    margin-bottom:2.5rem;
}
main>div>ul>li{
    flex: 1 1 auto;
    height:4.5rem;
    text-align: center;
}
main>div>ul>li:nth-child(1){
    font-size:1.6rem;
    background:#1428A0;
}
main>div>ul>li>a{
    display:block;
    line-height: 4.5rem;
}
main>div>ul>li:nth-child(1)>a{
    color:white;
}

/*content1*/
main>div>section.content1{
    padding:5rem 3rem;
    border:1px solid #ccc;
}
main>div>section.content1>p{
    margin-bottom:2rem;
    font-size:1.4rem;
}
main>div>section.content1>h1{
    margin-bottom:2.5rem;
    font-size:2rem;
}
main>div>section.content1>h1>i{
    display:inline-block;
    margin-left:1rem;
    width:6rem;
    height:2.5rem;
    font-size:1.4rem;
    line-height: 2.5rem;
    color:white;
    background:#1428A0;
    border-radius:1rem;
    text-align: center;
    vertical-align: middle;
}
main>div>section.content1>div{
    display:flex;
    justify-content: space-between;
}
main>div>section.content1>div>article{
    padding-top:3rem;
    border-top:1px solid #ccc;
}
main>div>section.content1>div>article>table{
    font-size:1.4rem;
    
}
main>div>section.content1>div>article>table>tbody{
    
}
main>div>section.content1>div>article>table>tbody>tr{
    
}
main>div>section.content1>div>article>table>tbody>tr:nth-child(1){
    
}
main>div>section.content1>div>article>table>tbody>tr>th{
    padding:1rem 0;
    width:16rem;
    text-align: start;
    
}
main>div>section.content1>div>article>table>tbody>tr>th>p{
    color:#000;
    border-right:1px solid #999;
}
main>div>section.content1>div>article>table>tbody>tr>th:nth-child(3)>p{
    margin-left:2rem;    
}
main>div>section.content1>div>article>table>tbody>tr>td>p{
    margin-left:1rem;
    text-align: start;
}
main>div>section.content1>div>div{
    width:24rem;
}
main>div>section.content1>div>div>p{}
main>div>section.content1>div>div>p>i{}
main>div>section.content1>div>div>div{}
main>div>section.content1>div>div>div>button{}

/*content2*/
main>div>section.content2{}
main>div>section.content2>h1{}
main>div>section.content2>div{}
main>div>section.content2>div>div{}
main>div>section.content2>div>div>p:nth-child(1){}
main>div>section.content2>div>div>p>i{}
main>div>section.content2>div>div>ul{}
main>div>section.content2>div>div>ul>li{}
main>div>section.content2>div>div>ul>li>span{}
main>div>section.content2>div>div>p.slide{}
main>div>section.content2>div>table{}
main>div>section.content2>div>table>tbody{}
main>div>section.content2>div>table>tbody>tr{}
main>div>section.content2>div>table>tbody>tr>th{}
main>div>section.content2>div>table>tbody>tr>td{}

/*content3*/
main>div>section.content3{}
main>div>section.content3>ul{}
main>div>section.content3>ul>li{}
main>div>section.content3>ul>li>a{}
main>div>section.content3>h1{}
main>div>section.content3>table{}
main>div>section.content3>table>tbody{}
main>div>section.content3>table>tbody>tr{}
main>div>section.content3>table>tbody>tr>th{}
main>div>section.content3>table>tbody>tr>td{}
main>div>section.content3>div{}
main>div>section.content3>div>button{}




.conatiner{
    margin: 200px 50px;
    background:#ccc;
}
.prog{
    margin-left:1rem;
    width: 50rem;
    background: #ccc;
}
.progs{
    
    width: 54%;
    height: 20px;
    background:#DADEEA;
    color:#000;
    text-align: center;
    line-height: 20px;
}