main>aside{
    position: relative;
    float: left;
    margin: 0 1.4rem;
    width: 43.2rem;
    height: 44.2rem;
}
main>aside>ul#banner_list>li{
    position: absolute;
    left: 0; top: 0;
}
main>aside>ul#banner_list>li:first-child{
    z-index: 1;
}
main>aside>ul#banner_bullet{
    position: absolute;
    z-index: 2;
    left: 0; bottom: 2.2rem;
    width: 100%;
    text-align: center;
}
main>aside>ul#banner_bullet>li{
    display: inline-block;
}
main>aside>ul#banner_bullet>li>img{
    width: 2rem;
    height: 2rem;
}
main>aside>p#banner_btn{
    position: absolute;
    z-index: 3;
    right: 1.2rem; bottom: 2rem;
}
main>aside>p#banner_btn>img{
    width: 2rem;
    height: 2rem;
}
