body{font-family:'nanum';}


/* main sub navigator */

main{
    overflow: hidden;
    width:108rem;
    margin:0 auto;
}

main>section.contents{
    float: right;
    width:84.8rem; 
    border:0.1rem solid #dcdcdc;
}

main>section.contents>div.titBar{
    height:5.6rem;
    background:url(../imgs/tit_bg.gif) repeat-x 0 0;
}

main>section.contents>div.titBar>h4{
    float:left;
    padding-left:1.5rem;
    font:bold 1.8rem/5.4rem 'nanum',sans-serif;
    color:#111;
}

main>section.contents>div.titBar>dl{
    float:right;
    margin:2rem 1.6rem 0 0;
    padding-left:1.3rem;
    font-size:1.1rem; 
    background:url(../imgs/ico_home.gif) no-repeat 0 50%;
}

main>section.contents>div.titBar>dl>dt{
    font-size:0; line-height:0;
}

main>section.contents>div.titBar>dl>dd{
    color:#555;
}
main>section.contents>div.titBar>dl>dd>strong{
    color:#333;
}

/* 본문 text */

article.txt{
    padding:3.3rem 2.5rem 0 2.5rem;
}

article.txt>.titBar>dl{ font-size: 11px; }
article.txt h5{
    padding-left:2.3rem;
    font-weight:bold; 
    font-size:1.6rem; line-height:1.8rem; color:#1e61a8;
    background:url(../imgs/h2_bluet.gif) no-repeat 0 40%;    
}
article.txt .conTxt{ font-size:12px; font-family:"돋움",sans-serif; }


/* 하단 위로가기 */
/* 본문 마무리 */
.top{
    float:right;
    margin:6.5rem 1.9rem 0.4rem 0;
    width:8.1rem; height:2.3rem;
    background:#636363; 
}
.top>a{
    display: block; 
    font:bold 1.3rem/2.3rem "돋움",sans-serif;
    letter-spacing:-0.2rem;
    text-align: center;
    color:#fff;
    
}
.top>a:before{
    display:inline-block;
    margin-right:0.4rem;
    width:0; height:0;
    border:0.4rem solid rgba(0,0,0,0);
    border-bottom-color:#fff;
    
    vertical-align: 0.4rem;
    content:"";
    
}

.top+blockquote{
    clear: both;
    margin:0 1.8rem 1.6rem 1.8rem;
    padding:1.6rem 0 0 11rem; 
    height:9.8rem;
    border:0.1rem solid #aac2dc;
    font:1.2rem/2.7rem "돋움",sans-serif;
    letter-spacing: -0.1rem;
    word-spacing:0.3rem; 
    background:#f1f4f8 url(../imgs/com_bg.gif) no-repeat 20px 50%; 
}

.top+blockquote>p{
    color:#444;    
}
.top+blockquote>p:last-of-type{
    color:#c03200;  
    text-shadow:0 0 1px #c03200, 0 0 1px #c03200 ;
}





