footer {
    clear: both;
    margin-top: 3.1rem;
    border-top: 0.1rem solid #cdcdcd;
}

footer a {
    color: #000;
}

footer > div {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 3rem;
    width: 108rem;
}

footer > div > p.first {
    float: left;
    margin-left: 7.9rem;
    margin-right: 4.8rem;
}

footer > div > div {
    float: left;
    font-size: 1.2rem;
    letter-spacing: -0.1rem;
}

footer > div > div > dl {
    overflow: hidden;
}

footer > div > div > dl > dd {
    float: left;
    padding: 0 1rem;
    line-height: 2rem;
}

footer > div > div > dl > dd:first-of-type {
    padding-left: 0;
}

footer > div > div > dl > dd:last-of-type {
    border: 0 none;
}

footer > div > div > dl > dd:after {
    display: none;
    content: "";
    width: 0;
    height: 1.1rem;
    border-right: 1px solid #c9c9c9;
}



footer > div > div > address {
    clear: both;
    margin-top: 1.1rem;
    color: #666;
    line-height: 2rem;
}

footer > div > p.second {
    float: left;
    margin-right: 0.7rem;
    width: 10rem;
}

footer > div > p.second img {
    width: 100%;
}

footer > div > p.third {
    float: left;
}
