main {
    width: 100%;
}
main>div.banner{
    width: 192rem;
    padding-top: 8rem;
}
main >div.banner>aside {
    position: relative;
}
main > div.banner>aside > ul {

}
main > div.banner>aside > ul.banner_img > li {
    position: absolute;
    top: 0rem;
    left: 0rem;
}
main > div.banner>aside > ul.banner_img > li:first-child{
    z-index: 2;
}
main > div.banner>aside > ul.banner_img > li:nth-child(2){
    z-index: 1;
}
main > div.banner>aside > ul.banner_img > li>img{
    width: 100%;    
}

main > div.banner>aside > ul.banner_btn{
    position: absolute;
    left: 4.5rem; top: 22rem;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 183rem;
}
main > div.banner>aside > ul.banner_btn>li{

}
main >div.banner> aside > ul.banner_btn>li>img{
    width: 60%;
}

main > div {
    width: 136rem;
    margin: 0 auto;
}
main > div > section.service_btn {
    overflow: hidden;
    margin-top: 48.5rem;
    width: 136rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > div > section.service_btn > div {
    flex: 0 0 auto;
    width: 33rem;
    height: 6rem;
    padding: 1.2rem 0 0 3rem;
    box-sizing: border-box;
    font-size: 2rem;
}
main > div > section.service_btn > div:nth-child(1) {
    background: #94c124;
}
main > div > section.service_btn > div:nth-child(2) {
    background: #016983;
}
main > div > section.service_btn > div:nth-child(3) {
    background: #37bdee;
}
main > div > section.service_btn > div:nth-child(4) {
    background: #f4f7f9;
}
main > div > section.service_btn > div > a> img {
    float: left;
    padding-right: 4rem;
}
main > div > section.service_btn > div:nth-child(3) > a> img {
    float: left;
    padding-right: 4rem;
    width: 12%;
}
main > div > section.service_btn > div:not(:nth-of-type(4)) > a> p{
    float: left;
    color: #fff;
}
main > div > section.service_btn > div > a> p{
    padding: .7rem 0 0 2.5rem;
    text-align: center;
    font-weight: bold;
}
main > div > section.service_btn > div:nth-of-type(4) > a> p{
    float: left;
    color:#016983;
}

main > div > div{
    padding-top: 5.5rem;
    width: 130rem;
    margin: 0 auto;
}
main > div >div>section.service_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > div >div>section.service_box > div{
    flex: 0 0 auto;
    width: 40rem;
    height: 45rem;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.15);
}
main > div >div>section.service_box > div.box1{
    position: relative;
    box-sizing: border-box;
    border-top: 0.8rem solid #94c124;
    text-align: center;
}
/* main > div >div>section.service_box > div.box1:before{
    position: absolute; content:"";
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background:#943737;
} */
main > div >div>section.service_box > div.box1>p:nth-child(1){
    padding-top: 7rem;
    font-size: 2.7rem;
    font-weight: bold;
    transition:.3s ease all;
    transform:scale(1);
}
main > div >div>section.service_box > div.box1:hover>p:nth-child(1){
    transform:scale(1.1);
}
main > div >div>section.service_box > div.box1>p:nth-child(2){
    padding-top: 6rem;
    font-size: 1.7rem;
    line-height: 4rem;
    color: #575756;
}
main > div >div>section.service_box > div.box1>form{
    position: relative;
    padding-top: 8rem;
}
main > div >div>section.service_box > div.box1>form>input{
    width: 25rem;
    height: 4rem;
    border: 3px solid #94c124;
}
main > div >div>section.service_box > div.box1>form>input:focus{
    outline:none;
}
main > div >div>section.service_box > div.box1>form>button{
    position: absolute;
    left: 27rem; top: 8rem;
    width: 6rem;
    height: 4rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: #94c124;
}
main > div >div>section.service_box > div.box1>form>button:focus{
    outline: none;
}
main > div >div>section.service_box > div.box1>p:nth-child(1)>span:nth-child(2){
    color: #94c124;
}
main > div >div>section.service_box > div.box2{
    display: flex;
    shadow
    justify-content: space-around;
    align-items: center;
    padding: 3rem 2.5rem;
    box-sizing: border-box;
    border-top: 0.8rem solid #016983;
}
main > div >div>section.service_box > div.box2>a{
    flex: 0 0 auto;
    width: 30rem;
    height: 7rem;
    background: #f3f5f8;
}
main > div >div>section.service_box > div.box2>a>p{
    padding-top: 2.5rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    color: #016983;
}
main > div >div>section.service_box > div.box3{
    box-sizing: border-box;
    border-top: 0.8rem solid #37bdee;
    text-align: center;
}
main > div >div>section.service_box > div.box3>p:nth-child(1){
    padding-top: 8rem;
    font-size: 2.7rem;
    font-weight: bold;
    transition:.3s ease all;
    transform:scale(1);
}
main > div >div>section.service_box > div.box3>p:nth-child(1)>span:nth-child(2){
    color: #37bdee;
}
main > div >div>section.service_box > div.box3>p:nth-child(2){
    padding-top: 4.5rem;
    font-size: 1.7rem;
    line-height: 3.5rem;
    color: #575756;
}
main > div >div>section.service_box > div.box3:hover>p:nth-child(1){
    transform:scale(1.1);
}
main > div >div>section.service_box > div.box3>form{
    position: relative;
    padding-top: 6.5rem;
}
main > div >div>section.service_box > div.box3>form>input{
    width: 25rem;
    height: 4rem;
    border: 3px solid #37bdee;
}
main > div >div>section.service_box > div.box3>form>input:focus{
    outline: none;
}
main > div >div>section.service_box > div.box3>form>button{
    position: absolute;
    left: 27rem; top: 6.5rem;
    width: 6rem;
    height: 4rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background: #37bdee;
}
main > div >div>section.service_box > div.box3>form>button:focus{
    outline: none;
}
/* 
main > div >div>div.service_item{
    margin-top: 5rem;
    width: 100%;
}
main > div >div>div.service_item>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
main > div >div>div.service_item>ul>li{
   flex:0 0 30%; 
   margin:1.2% .5%;
} 
main > div >div>div.service_item>ul>li>a{
    
}
main > div >div>div.service_item>ul>li>a>img{
    width: 50%;
}
main > div >div>div.service_item>ul>li>a>p{
    font-size: 2rem;
    font-weight: bold;
    line-height: 5rem;
    color: #3C3C3B;
}*/


main > div >div>div.service_item{
    margin: 5rem 0 7rem 0;
    width: 100%;
}
main > div >div>div.service_item>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}
main > div >div>div.service_item>ul>li{
   
}
main > div >div>div.service_item>ul>li>a{
    
}
main > div >div>div.service_item>ul>li>a>img{
    width: 100%
}
main > div >div>div.service_item>ul>li:first-child>a>img:hover{
    background: #94c124;
    border-radius: 50%;
}
main > div >div>div.service_item>ul>li:nth-child(2)>a>img:hover{
    background: #016983;
    border-radius: 50%;
}
main > div >div>div.service_item>ul>li:nth-child(3)>a>img:hover{
    background: #37bdee;
    border-radius: 50%;
}
main > div >div>div.service_item>ul>li:nth-child(4)>a>img:hover{
    background: #94c124;
    border-radius: 50%;
}
main > div >div>div.service_item>ul>li:nth-child(5)>a>img:hover{
    background: #016983;
    border-radius: 50%;
}
main > div >div>div.service_item>ul>li:nth-child(6)>a>img:hover{
    background: #37bdee;
    border-radius: 50%;
}

main > div >div>div.service_item>ul>li>a>p{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 5rem;
    color: #3C3C3B;
}



main > div >div>section.information{
    box-sizing: content-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main > div >div>section.information>div.notice{
    width: 65rem;
}
main > div >div>section.information>div.notice>img{
    padding: 2rem 0 2rem 27rem;
}
main > div >div>section.information>div.notice>h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
main > div >div>section.information>div.notice>ul:nth-of-type(1){
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
    margin-top: 3rem;
    width: 65rem;
    height: 4rem;
    box-sizing: border-box;
    border-bottom: 0.2rem solid #37bdee;
}
main > div >div>section.information>div.notice>ul:nth-of-type(1)>li{
    flex: 1 0 auto;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #575756;
}
main > div >div>section.information>div.notice>ul:nth-of-type(1)>li:nth-child(1){
    background: #37bdee;
    color: #fff;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2){
    position: relative;
    margin-top: 2rem;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li{
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li:nth-child(1){
    z-index: 1000;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li:nth-child(2){
    
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li>p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom:1px solid #d1d1d1;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li>p:last-of-type{
    border-bottom: none;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li>p>span{
    width: 40rem;
    padding-right: 2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    font-size: 1.6rem;
    line-height: 5rem;
    font-weight: 800;
    color: #3C3C3B;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li>p>time{
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #9f9f9f;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li>p>img{
    width: 5%
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li>button{
    margin-top: 3rem;
    width: 65rem;
    height: 4rem;
    background: #37bdee;
    border: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
}
main > div >div>section.information>div.notice>ul:nth-of-type(2)>li>button:focus{
    outline: 0.1rem solid #016983;
}
main > div >div>section.information>div.health_inp{
    width: 65rem;
}
main > div >div>section.information>div.health_inp>img:nth-child(1){
    padding: 2rem 0 2rem 27rem;
}
main > div >div>section.information>div.health_inp>h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
main > div >div>section.information>div.health_inp>img:nth-of-type(2){
    width: 50%;
    margin: 2.3rem 0 1rem 17rem;
}
main > div >div>section.information>div.health_inp>img:nth-of-type(3){
    float: left;
    width: 4%;
    margin-left: 25rem;
}
main > div >div>section.information>div.health_inp>p:first-of-type{
    float: left;
    padding: 1rem 0 0 2rem;
    font-size: 1.8rem;
    font-weight: bold;;
}
main > div >div>section.information>div.health_inp>p:nth-of-type(2){
    clear: both;
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: #3C3C3B;
}
main > div >div>section.information>div.health_inp>time{
    margin-left: 29.5rem;
    font-size: 1.2rem;
    line-height: 2.8rem;
    color: #d1d1d1;
}
main > div >div>section.information>div.health_inp>button{
    margin: 1.5rem 0 0 1rem;
    width: 64rem;
    height: 4rem;
    background: #94c124;
    border: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
}
main > div >div>section.information>div.health_inp>button:focus{
    outline: 0.1rem solid #6f8e21;
}
main > div >div>div.map{
    margin-top: 6rem;
}
main > div >div>div.map>img{
    margin: 0 0 1rem 59.5rem;
}
main > div >div>div.map>h2{
    font-size: 2rem;
    line-height: 4rem;
    font-weight: bold;
    text-align: center;
}
#map{
    margin-top: 2rem;
    width: 100%;
    height: 50rem;
}
main > div >div>div.map>address{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 3.2rem;
    font-weight: 900;
    color: #575756;
}