/* ----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        section01
------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section01{
    width: 100%;
    text-align: center;
}
.section01>img{
    width: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        section02
------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section02{
    width: 100%;
    margin-top: 5%;
}
.section02>h1{
    text-align: center;
    font-size: 4vw;
    line-height: 8rem;
}
.section02>p{
    margin-bottom: 6%;
    text-align: center;
    font-size: 2vw;
    line-height: 3.6rem;
    color: #999;
}
.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 2%;
}
.swiper-slide>img{
    width: 50%;
}
.swiper-slide>p{
    margin-top: 3%;
    font-size: 1.5vw;
    line-height: 3vh;
    color: #4d4d4d;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        section03
------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section03{
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}
.section03>img{
    width: 60%;
    height: 60%;
}
.section03>div{
    text-align: center;
    transition: all 2s ease;
}
.section03 h1{
    margin: 50% 0;
    font-size: 3vw;
    line-height: 3rem;
}
.section03>div>p{
    display: none;
}
.section03>div>a{
    font-size: 1.3vw;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        section04
------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section04{
    width: 100%;
    margin-top: 7%;
    position: relative;
}
.section04>div{
    margin: 0 auto;
}
.section04 img{
    width: 100%;
    height: 100%;
}
.section04>h2{
    position: absolute;
    top: 40%;
    left: 8%;

    font-size: 3vw;
    font-weight: 700;
}
.section04>a{
    position: absolute;
    bottom: 40%;
    left: 32%;

    font-size: 1.5vw;
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                        section05
------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section05{
    width: 100%;
    margin-top: 5%;
}
.section05>h1{
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 2%;
}
.section05>ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    text-align: center;
}
.section05 img{
    width: 100%;
}
.section05 p{
    margin-top: 3%;
    font-size: 1.7vw;
    line-height: 3vw;
    color: #333;
}
.section05 img:hover~p{
    transition: all .5s ease;
    transform: scale(1.1,1.1);
    font-weight: 700;
}