.range1 {
    width: 100vw;
    height: 100vh;
    padding: 10% 5%;
    box-sizing: border-box;

    background: #c4bf65;
    text-align: right;
}
.range1 h1{
    font-size: 4vh;
    color: #fff;
}
.range1 p{
    margin-top: 2rem;
    font-size: 8vh;
    color: #fff;
}
.range1 ul{
    margin-top: 15rem;
    margin-bottom: 5rem;
    padding-right: 2rem;

    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #fff;

    border-right: solid .2rem #fff;
}
.range1 a{
    padding: 1rem;

    font-size: 1.2rem;
    color: #4d4d4d;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25rem;
}

.range2{
    width: 100%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
}
.range2 h1{
    font-size: 4rem;
    line-height: 6rem;
    font-weight: bold;
    color: #8a8755;
}

.part1{
    width: 100%;
}
.part1 p{
    margin-top: 2rem;

    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #6a6a6a;
}
.part1 .swiper-container {
    width: 100%;
    height: 100%;
    margin: 1.5rem auto;
}
.part1 .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
}
.part1 .swiper-slide h2{
    font-size: 1.8rem;
    line-height: 3.6rem;
}
.part1 .swiper-slide span{
    font-size: 1.2rem;
    color: #6a6a6a;
}
.part1 a{
    width: 27rem;
    margin-top: .3rem;

    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #4d4d4d;
}
.part1 a:hover{
    background: #c4bf656e;
}

.part2{
    width: 100%;
    margin-top: 15rem;
}
.part2 h2{
    font-size: 2rem;
    line-height: 5rem;
    color: #4d4d4d;
}
.part2 p{
    font-size: 1.3rem;
    color: #6a6a6a;
}
.part2 img{
    width: 100%;
}
.part2 section:nth-of-type(2){
    margin-top: 10rem;
}

.part3{
    width: 100%;
    margin-top: 15rem;
}
.part3 h2{
    font-size: 2rem;
    line-height: 5rem;
    color: #4d4d4d;
}
.part3 section{
    padding: 0 15rem;
}
.part3 img{
    margin: 3rem 10rem 0 0;
}

footer{
    width: 100vw;
    height: 30vh;
    margin-top: 15rem;
    margin-left: -9.5rem;
    padding: 5%;
    box-sizing: border-box;

    background: #c4bf65;
    text-align: center;
}
footer p{
    font-size: 4rem;
    line-height: 8rem;
    color: #fff;
}
footer p:hover{
    transform: scale(1.1, 1.1);
    transition: all .5s ease;
}
footer a{
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #fff;
}
footer a:hover{
    color: #4d4d4d;
}